
h1 {
    font-family: 'open sans' sans-serif;
    color: #b22222;
    caption-side: top;
    text-align:center;
    font-weight: lighter;
}

table, th {
    width: 40%;
    /* border: 1px solid #b5b5b5; */
    border-collapse: collapse;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

th, td {
    border: 0.0px;
    background-color: #ddd;
    padding: 20px;
    width: 40%;
    text-align: left;
}


.pm {
    font-family: 'open sans' sans-serif;
    font-weight: normal;
    background-color:#b22222;
    color:#ddd;

}

.celcius {
    font-family: 'open sans' sans-serif;
    font-weight: normal;
    background-color:#b22222;
    color: #ddd;
}

.sticky {
    border: 1.0px solid #b22222;
    font-family: 'open sans' sans-serif;
    font-weight: normal;
    background-color:#b22222;
    color: #ddd;
}

td .time {
    font-family: 'open sans' sans-serif;


}

td .degree {
    font-family: 'open sans' sans-serif;

}

td .percent {
    font-family: 'open sans' sans-serif;

}

.time {
    /* border: 1.0px solid #b5b5b5; */
    background-color: #ddd;
}

.degree {

    background-color: #fff;
}

.percent {

    background-color: #fff;
}





/**********************************************************
            Times
***********************************************************/
