
td {
    text-align: center;
}


 h1 {
    font-family:sans-serif;
    color: #b22222;

}

table .border {
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background color: ;
    color: black;
}
